<div class="all-games-link">
	<%= link_to 'BACK TO ALL GAMES', root_path %>
</div>

<div class="game-center">
	<%= render @outcome_partial %>

	<h4>The secret number was <%= @secret_number %></h4>
	
	<h3 class="play-again"><%= link_to "PLAY AGAIN", new_secret_number_path %></h3>
</div>