<div class="nav">
	<div class="headline">
		<h1 class="logo">RetFlix</h1>
		<h3>See our collection of movies below</h3>
	</div>
</div>

<div class="form-container">
	<div class="add-form">
		<%= render 'form' %>
	</div>
</div>